body {
    background-color: rgb(224, 83, 83);
}
h1{
    color: blue;
}
p{
    font-size: 25px;
}
/* Bordure sur notre tableau */
table{
    border-style: solid;
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid blue;
    padding: 5px;
}

/* Utilisation de class */
.Même_couleur_que_le_1er_paragraphe{
    color : yellow;
}

/* changement de couleur via survole */

h1:hover{
    border-radius: 10px;
    background-color: aqua;
}
/* utilisation de font */
p{
    font : italic bold 25px sans-serif;
}